* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e7f1ff; /* Fondo claro */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  width: 80px;
  height: 80px;
  border: 8px solid #f3f3f3; /* Color de fondo */
  border-top: 8px solid #007bff; /* Color de la barra de progreso */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-text {
  margin-top: 10px; /* Espacio entre el círculo y el texto */
  font-size: 1.5rem;
  color: #333;
}
